The report of final project includes these following parts:

1. SSIS process (describe the process of choosing data for the warehouse).
2. SSAS process
    a. Describe the schema (star/snow) and the process of building a cube.
    b. Using analysis service (manual) (minimum: 15 queries)
    c. Using analysis service (MDX) (minimum: 15 queries)
    d. Using analysis by Pivot table in Excel (minimum: 5 queries)
3. SSRS services (3 reports) + PowerBI/Google Data Studio (3 reports)
4. Data mining

The CD of final project includes these following folders:

1. Data: original dataset 

2. Source: SSIS project, SSAS project, Excel Pivot file

3. Database: warehouse database (*.mdf, *.ldf) 

4. Video: video file

5. Text file: the information of group (member name, job)

6. Document: project report (.docx)